html, body, #root {
  height: 100%;
  width: 100% !important;
  margin: 0;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #242424;
  color: rgba(255, 255, 255, 0.87);
}

body {
  min-width: 320px;
}

@media (prefers-color-scheme: light) {
  body {
    background-color: #ffffff;
    color: #213547;
  }
}
